.upper-container {
  width: 100%;
  height: auto;
}

/* --- content --- */

.visitenkarte {
  width: 100%;
  height: 25vh;
}

.visitenkarte>span {
  font-size: 2em;
  text-align: center;
}

/* --- lower-container --- */
.lower-container {
  width: 100%;
  height: auto;
  font-size: 1.33em;
}

.lower-container > section {
  width: 100%;
}

.lower-container > section > div {
  width: 50%;
}

.lower-container > section > div strong {
  display: block;
}

.lower-container > section > div figcaption {
  font-size: .66em;
}

.lower-container > section > div a {
  opacity: 0.75;
}

.lower-container > section > div > div {
  width: 100%;
}

.rw-wrapper > .rw-cont > div, .rw-wrapper > .rw-cont > span {
  width: calc(23vw * 0.9);
  height: calc(23vw * 0.9);
}

.rw-wrapper > .rw-cont > span.fas {
  font-size: 3em;
}

/* --- lowest-container --- */
.lowest-container {
  width: 100%;
  min-height: 30vh;
}

.lowest-container > strong {
  display: block;
  padding: 1em 0 0 1em;
}

.lowest-container > ul {
  margin-bottom: 0;
  padding-bottom: 1em;
}

.lowest-container > ul > li {
  word-break: break-all;
  padding-right: 1em;
}

/* --- utilities --- */
.tab-1 {
  padding-left: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.w-100 {
  width: 100%;
}

/* --- mq --- */
@media all and (orientation: portrait) {
  .lower-container > section > div {
    width: 90%;
  }

  .rw-wrapper > .rw-cont > div, .rw-wrapper > .rw-cont > span {
    width: calc(46vw * 0.9);
    height: calc(46vw * 0.9);
  }
}