.upper-container {
  width: 100%;
  height: auto;
}

/* --- content --- */

.visitenkarte {
  width: 100%;
  height: 25vh;
}

.visitenkarte>span {
  font-size: 2em;
  text-align: center;
}

.lower-container {
  width: 100%;
  height: auto;
}

.lowest-container {
  width: 100%;
  height: 30vh;
}
