.upper-container {
  width: 100%;
  height: auto;
}

/* --- content --- */

.visitenkarte {
  width: 100%;
  height: 70vh;
}

.visitenkarte>span:first-child {
  font-size: 2em;
}

.visitenkarte>h1, .visitenkarte>h2 {
  display: inline-block;
  text-align: center;
  max-width: 90%;
  font-weight: normal;
  margin: 0;
}

.visitenkarte>h1 {
  font-size: 2em;
}

.visitenkarte>h2 {
  font-size: 1.25em;
}

.visitenkarte>a {
  /* remove default a styles */
  text-decoration: none;
  color: #EDF5E1;
  /* --- */
  margin-top: 2em;
  transition: transform .3s, color .3s;
}

.visitenkarte>a:hover {
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
  color: #05386B;
}

.lower-container {
  width: 100%;
  height: auto;
}

.lowest-container {
  width: 100%;
  height: 30vh;
}

@media all and (orientation: landscape) and (min-width: 1500px) {
  .visitenkarte>h1 {
    font-size: 2.5em;
  }
  .visitenkarte>h2 {
    font-size: 1.5em;
  }
  .visitenkarte>a {
    font-size: 1.1em;
  }
}
