.upper-container {
  width: 100%;
  height: auto;
}

/* --- content --- */
.visitenkarte {
  width: 100%;
  height: 25vh;
}

.visitenkarte>span {
  font-size: 2em;
  text-align: center;
}

.lower-container {
  width: 100%;
  height: auto;
}

.lowest-container {
  width: 100%;
  height: 30vh;
}

#tb-modal {
  position: absolute;
  width: 250px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#tb-modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.nation-logo {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.uk {
  background-image: url("img/countricons/united-kingdom.svg");
}

.japan {
  background-image: url("img/countricons/japan.svg");
}

.hungary {
  background-image: url("img/countricons/hungary.svg");
}

.spain {
  background-image: url("img/countricons/spain.svg");
}

.morocco {
  background-image: url("img/countricons/morocco.svg");
}

.czechia {
  background-image: url("img/countricons/czech-republic.svg");
}

/* --- travelblog_resources --- */
.added-res {
  max-height: 80vh;
  max-width: 80vw;
  margin: 2em 2em 0 2em;
}