@import "utilities.scss";
@import "theme.scss";

.blog-page-wrapper {
  position: relative;
  width: 100%;
  min-height: calc(100vh - #{$headerHeight});
  padding-top: $headerHeight;
  @include flex(column, flex-start, center, none, none);
  > .header-text-container {
    position: relative;
    width: 66%;
    text-align: left;
    margin: 40px 0;
  }
  > .blog-post-container {
    position: relative;
    width: 66%;
    height: auto;
    &.post-expanded {
      > .blog-img-wrapper {
        > .blog-img-overlay {
          background-color: rgba(0, 0, 0, 0.33);
        }
        > .chevron-overlay {
          transform: rotate(180deg);
        }
        > .title-overlay, > .date-overlay {
          bottom: -50%;
        }
      }
      > .blog-text-container {
        display: flex;
      }
    }
    &:nth-child(n + 3) {
      margin-top: 40px;
    }
    &:last-child {
      margin-bottom: 120px;
    }
    > .blog-img-wrapper {
      position: relative;
      width: 100%;
      height: 10vw;
      overflow: hidden;
      padding: 0;
      border-radius: 6px;
      border: none;
      outline: none;
      background-color: transparent;
      &:hover {
        cursor: pointer;
        > .blog-img-container {
          animation: blog-img-anim 10s linear;
        }
        > .blog-img-overlay {
          background-color: rgba(0, 0, 0, 0.33);
        }
        > .chevron-overlay {
          transform: rotate(180deg);
        }
      }
      > .blog-img-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #efefef;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center center;
      }
      > .blog-img-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.66);
        transition: background-color .5s ease;
      }
      > .title-overlay {
        position: absolute;
        bottom: 40px;
        left: 8px;
        width: calc(100% - 16px);
        line-height: 125%;
        text-align: left;
        transition: bottom .25s ease;
      }
      > .date-overlay {
        position: absolute;
        bottom: 8px;
        left: 8px;
        transition: bottom .25s ease;
        > svg,
        > span {
          color: #fff;
        }
        > span {
          margin-left: 8px;
        }
      }
      > .chevron-overlay {
        position: absolute;
        bottom: 8px;
        right: 10px;
        font-size: 20px;
        border-radius: 50%;
        transition: transform 0.5s ease;
        > svg {
          color: #fff;
        }
      }
    }
    > .blog-text-container {
      width: 100%;
      @include flex(column, none, center, none, none);
      display: none;
      > .header-container {
        width: 100%;
        @include flex(row, space-between, flex-end, none, none);
        margin-top: 30px;
        text-align: left;
        > span:first-child {
          padding-right: 16px;
        }
      }
      > .text-container {
        width: 100%;
        margin-top: 10px;
        img {
          margin: 1rem 0 0 0;
          max-width: 100%;
        }
        figcaption {
          margin: 0 0 2rem 0;
          font-size: 14px;
          @include get-color(dark2, true);
        }
        p {
          margin: 0;
        }
        h2 {
          margin: 6rem 0 0.5rem;
          &:first-child {
            margin-top: 2rem;
          }
        }
        h3 {
          font-size: 16px;
          margin-bottom: 0.25rem;
        }
      }
      > .divider {
        width: 100%;
        height: 1px;
        @include get-color(dark2, false);
        margin: 6rem 0 4rem 0;
      }
    }
  }
}

@keyframes blog-img-anim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@media all and (orientation: landscape) and (max-height: 640px) {
  .blog-page-wrapper {
    > .header-text-container, > .blog-post-container {
      width: 80%;
    }
    > .blog-post-container {
      > .blog-img-wrapper {
        height: 15vw;
      }
    }
  }
}

@media all and (orientation: portrait) and (max-height: 900px) {
  .blog-page-wrapper {
    > .header-text-container, > .blog-post-container {
      width: 100%;
    }
    > .blog-post-container {
      > .blog-img-wrapper {
        height: 45vw;
      }
    }
  }
}