.error-page-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - 45px);
  > div:not(.bg-container) > header {
    height: 60px !important;
  }
  .bg-container {
    position: relative;
    width: 100%;
    height: 102.03125vw;
    margin-top: 45px;
    background-image: url("data:image/svg+xml,%3Csvg width='1920' height='1959' viewBox='0 0 1920 1959' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M650.536 187.777C650.536 186.396 651.655 185.277 653.036 185.277H1266.96C1268.34 185.277 1269.46 186.396 1269.46 187.777V504.913H650.536V187.777Z' stroke='%23CCCCCC' stroke-width='15'/%3E%3Cmask id='path-2-inside-1' fill='white'%3E%3Crect x='895.259' y='530.899' width='137.899' height='268.107' rx='10'/%3E%3C/mask%3E%3Crect x='895.259' y='530.899' width='137.899' height='268.107' rx='10' fill='%23F6F6F6' stroke='%23CCCCCC' stroke-width='30' mask='url(%23path-2-inside-1)'/%3E%3Crect x='620.119' y='504.816' width='679.761' height='33.5204' rx='14.682' fill='%23F7F7F7' stroke='%23CCCCCC' stroke-width='15'/%3E%3Cline x1='997.462' y1='591.479' x2='997.462' y2='754.654' stroke='%23CCCCCC' stroke-width='10' stroke-linecap='round'/%3E%3Cline x1='827.29' y1='160.684' x2='827.29' y2='182.928' stroke='%23CCCCCC' stroke-width='10'/%3E%3Cpath d='M797.078 156.684L806.126 133.946H848.68L856.974 156.684H797.078Z' fill='%23C4C4C4' fill-opacity='0.2' stroke='%23CCCCCC' stroke-width='8'/%3E%3Cline x1='960.354' y1='160.684' x2='960.354' y2='182.928' stroke='%23CCCCCC' stroke-width='10'/%3E%3Cpath d='M930.142 156.684L939.19 133.946H981.744L990.038 156.684H930.142Z' fill='%23C4C4C4' fill-opacity='0.2' stroke='%23CCCCCC' stroke-width='8'/%3E%3Cline x1='1093.42' y1='160.684' x2='1093.42' y2='182.928' stroke='%23CCCCCC' stroke-width='10'/%3E%3Cpath d='M1063.21 156.684L1072.25 133.946H1114.81L1123.1 156.684H1063.21Z' fill='%23C4C4C4' fill-opacity='0.2' stroke='%23CCCCCC' stroke-width='8'/%3E%3Cpath d='M1555.09 346.046C1555.09 338.858 1560.92 333.032 1568.11 333.032H1691.19C1698.38 333.032 1703.31 339.421 1704.21 346.046C1705.11 352.67 1706.83 355.164 1710.58 355.164H1795.05C1802.23 355.164 1808.06 360.991 1808.06 368.178C1808.06 375.366 1802.23 381.192 1795.05 381.192H1785.62C1781.75 381.192 1779.66 387.823 1778.77 391.588C1777.05 398.816 1772.94 404.602 1765.75 404.602H1642.66C1635.48 404.602 1629.65 398.775 1629.65 391.588C1629.65 384.401 1635.48 378.574 1642.66 378.574H1652.09C1658.25 378.574 1659.88 371.996 1659.88 368.126C1659.88 364.368 1657.93 359.06 1652.57 359.06H1568.11C1560.92 359.06 1555.09 353.233 1555.09 346.046Z' fill='%231E82F0' fill-opacity='0.05'/%3E%3Cpath d='M278.389 268.888C278.389 259.893 285.681 252.602 294.675 252.602H448.715C457.71 252.602 465.002 259.893 465.002 268.888C465.002 273.729 465.002 281.553 473.466 281.553H513.326C522.321 281.553 529.612 288.845 529.612 297.84C529.612 306.578 522.73 313.71 514.09 314.109C513.583 314.132 513.072 314.173 512.582 314.304C505.842 316.1 505.569 321.446 505.832 325.791C505.852 326.122 505.862 326.455 505.862 326.791C505.862 335.786 498.571 343.078 489.576 343.078L335.536 343.078C326.541 343.078 319.25 335.786 319.25 326.791C319.25 317.797 329.671 311.912 335.536 310.505C341.401 309.098 343.302 303.339 343.03 298.84C343.01 298.509 343 298.176 343 297.84C343 288.703 339.377 285.175 334.535 285.175H294.675C285.681 285.175 278.389 277.883 278.389 268.888Z' fill='%231E82F0' fill-opacity='0.1'/%3E%3Cpath d='M1275.97 21.5154C1275.97 9.6939 1285.56 0.110718 1297.38 0.110718H1499.83C1511.65 0.110718 1521.23 9.6939 1521.23 21.5154C1521.23 24.6627 1520.55 27.6514 1519.33 30.3428C1517.86 33.6005 1518 39.2987 1523.63 39.2987C1529.27 39.2987 1584.74 39.2987 1584.74 39.2987C1596.56 39.2987 1606.15 48.8819 1606.15 60.7034C1606.15 72.5248 1596.56 82.108 1584.74 82.108C1576.44 82.108 1574.93 92.0061 1574.93 99.8914C1574.93 99.3229 1574.93 107.777 1574.93 99.8914C1574.93 111.713 1565.35 121.296 1553.53 121.296H1351.08C1339.26 121.296 1329.68 111.713 1329.68 99.8914C1329.68 88.0699 1339.26 78.4868 1351.08 78.4868H1370.38C1379.25 78.4868 1385.94 66.4798 1385.94 59.0694C1385.94 51.659 1379.25 42.92 1370.38 42.92H1297.38C1285.56 42.92 1275.97 33.3368 1275.97 21.5154Z' fill='%231E82F0' fill-opacity='0.15'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M422.506 51.679C420.127 52.5449 417.942 53.871 416.075 55.5815C414.208 57.292 412.697 59.3535 411.627 61.6482C410.557 63.9428 409.949 66.4258 409.839 68.9552C409.809 69.6336 409.678 70.2833 409.46 70.8905H418.107C421.737 70.8905 424.68 73.8334 424.68 77.4636C424.68 81.0938 421.737 84.0367 418.107 84.0367H386.847C383.217 84.0367 380.274 81.0938 380.274 77.4636C380.274 73.8334 383.217 70.8905 386.847 70.8905H394.016C393.962 70.5958 393.928 70.2938 393.914 69.986C393.816 67.7439 393.278 65.5432 392.33 63.5093C391.381 61.4754 390.041 59.6482 388.387 58.1321C386.732 56.6159 384.795 55.4405 382.686 54.673C380.578 53.9054 378.338 53.5608 376.096 53.6587C373.854 53.7566 371.653 54.2951 369.62 55.2435C367.586 56.1919 365.758 57.5317 364.242 59.1862C362.726 60.8408 361.551 62.7778 360.783 64.8866C359.542 68.2979 355.77 70.0568 352.358 68.8151C348.947 67.5735 347.188 63.8016 348.43 60.3903C349.788 56.6593 351.868 53.2322 354.55 50.3048C357.232 47.3774 360.465 45.007 364.064 43.329C367.662 41.651 371.556 40.6982 375.523 40.525C379.49 40.3518 383.452 40.9616 387.183 42.3196C390.914 43.6776 394.341 45.7572 397.268 48.4397C398.784 49.8287 400.151 51.3652 401.349 53.0237C402.944 50.3843 404.911 47.9807 407.193 45.8891C410.333 43.0123 414.008 40.782 418.01 39.3256C422.011 37.8692 426.26 37.2152 430.515 37.4009C434.769 37.5867 438.945 38.6085 442.804 40.4081C446.663 42.2078 450.13 44.7499 453.007 47.8894C455.884 51.0289 458.114 54.7044 459.571 58.7058C460.812 62.1171 459.054 65.889 455.642 67.1306C452.231 68.3722 448.459 66.6134 447.217 63.2021C446.352 60.8229 445.025 58.6376 443.315 56.7709C441.604 54.9042 439.543 53.3926 437.248 52.3226C434.954 51.2526 432.471 50.645 429.941 50.5346C427.412 50.4241 424.885 50.813 422.506 51.679Z' fill='%23C5C5C5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1765.81 225.279C1764.62 225.712 1763.52 226.375 1762.59 227.231C1761.66 228.086 1760.9 229.117 1760.37 230.264C1759.83 231.411 1759.53 232.653 1759.47 233.918C1759.46 234.257 1759.39 234.582 1759.28 234.885H1763.61C1765.42 234.885 1766.89 236.357 1766.89 238.172C1766.89 239.987 1765.42 241.458 1763.61 241.458H1747.98C1746.16 241.458 1744.69 239.987 1744.69 238.172C1744.69 236.357 1746.16 234.885 1747.98 234.885H1751.56C1751.54 234.738 1751.52 234.587 1751.51 234.433C1751.46 233.312 1751.19 232.211 1750.72 231.195C1750.24 230.178 1749.58 229.264 1748.75 228.506C1747.92 227.748 1746.95 227.16 1745.9 226.776C1744.84 226.393 1743.72 226.22 1742.6 226.269C1741.48 226.318 1740.38 226.587 1739.36 227.062C1738.35 227.536 1737.43 228.206 1736.68 229.033C1735.92 229.86 1735.33 230.829 1734.95 231.883C1734.33 233.589 1732.44 234.468 1730.73 233.847C1729.03 233.227 1728.15 231.341 1728.77 229.635C1729.45 227.77 1730.49 226.056 1731.83 224.592C1733.17 223.129 1734.79 221.943 1736.59 221.104C1738.39 220.265 1740.33 219.789 1742.32 219.702C1744.3 219.616 1746.28 219.921 1748.15 220.6C1750.01 221.279 1751.72 222.319 1753.19 223.66C1753.95 224.354 1754.63 225.122 1755.23 225.952C1756.03 224.632 1757.01 223.43 1758.15 222.384C1759.72 220.946 1761.56 219.831 1763.56 219.103C1765.56 218.375 1767.68 218.047 1769.81 218.14C1771.94 218.233 1774.03 218.744 1775.96 219.644C1777.89 220.544 1779.62 221.815 1781.06 223.385C1782.5 224.954 1783.61 226.792 1784.34 228.793C1784.96 230.498 1784.08 232.384 1782.38 233.005C1780.67 233.626 1778.78 232.747 1778.16 231.041C1777.73 229.851 1777.07 228.759 1776.21 227.825C1775.36 226.892 1774.33 226.136 1773.18 225.601C1772.03 225.066 1770.79 224.762 1769.52 224.707C1768.26 224.652 1767 224.846 1765.81 225.279Z' fill='%23C5C5C5' fill-opacity='0.8'/%3E%3Ccircle cx='960' cy='1494.36' r='365.624' fill='%23FBDE9E'/%3E%3Crect y='1515.43' width='1920' height='443.569' fill='%2339AFF8'/%3E%3Crect x='473.371' y='1709.02' width='658.629' height='34.6247' rx='17.3123' fill='%2355DCFF'/%3E%3Crect x='1316.93' y='1709.02' width='90.7475' height='34.6247' rx='17.3123' fill='%2355DCFF'/%3E%3Crect x='28.5645' y='1709.02' width='268.087' height='34.6247' rx='17.3123' fill='%231E82F0'/%3E%3Crect x='359.983' y='1709.02' width='64.5156' height='34.6247' rx='17.3123' fill='%231E82F0'/%3E%3Crect x='829.111' y='1533.86' width='34.4578' height='17.3123' rx='8.65613' fill='white' fill-opacity='0.3'/%3E%3Crect x='883.354' y='1533.86' width='234.25' height='17.3123' rx='8.65613' fill='white' fill-opacity='0.3'/%3E%3Crect x='1443.74' y='1709.02' width='328.646' height='34.6247' rx='17.3123' fill='%231E82F0'/%3E%3Crect x='1228.08' y='1709.02' width='52.7888' height='34.6247' rx='17.3123' fill='%231E82F0'/%3E%3Crect x='389.815' y='1841.04' width='35.5841' height='34.6247' rx='17.3123' fill='%231E82F0'/%3E%3Crect x='442.735' y='1841.04' width='249.505' height='34.6247' rx='17.3123' fill='%231E82F0'/%3E%3Crect x='139.236' y='1841.04' width='90.7475' height='34.6247' rx='17.3123' fill='%2355DCFF'/%3E%3Crect x='837.98' y='1841.04' width='90.7475' height='34.6247' rx='17.3123' fill='%2355DCFF'/%3E%3Crect x='1616.27' y='1841.04' width='251.859' height='34.6247' rx='17.3123' fill='%2355DCFF'/%3E%3Crect x='1042' y='1841.04' width='434.169' height='34.6247' rx='17.3123' fill='%231E82F0'/%3E%3Cpath d='M1854.52 795.006H1904.99V1607.93H1854.52V795.006Z' fill='%23BBBDBD'/%3E%3Cpath d='M9 809.995C9 798.398 18.402 788.995 30 788.995H1890C1901.6 788.995 1911 798.398 1911 809.995V1592.94C1911 1604.54 1901.6 1613.94 1890 1613.94L1759.84 1613.94C1748.24 1613.94 1738.84 1604.54 1738.84 1592.94V1117.93C1738.84 1012.18 1653.11 926.447 1547.36 926.447C1441.6 926.447 1355.87 1012.18 1355.87 1117.93V1592.94C1355.87 1604.54 1346.47 1613.94 1334.87 1613.94H1172.48C1160.89 1613.94 1151.48 1604.54 1151.48 1592.94V1117.93C1151.48 1012.18 1065.75 926.447 960 926.447C854.246 926.447 768.516 1012.18 768.516 1117.93V1592.94C768.516 1604.54 759.114 1613.94 747.516 1613.94H583.35C571.752 1613.94 562.35 1604.54 562.35 1592.94V1117.93C562.35 1012.18 476.62 926.447 370.866 926.447C265.112 926.447 179.382 1012.18 179.382 1117.93V1592.94C179.382 1604.54 169.98 1613.94 158.382 1613.94L30 1613.94C18.402 1613.94 9 1604.54 9 1592.94V809.995Z' fill='%23D4D6D6' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='-18.4922' y1='1613.94' x2='216.94' y2='1613.94' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='482.371' y1='1613.94' x2='529.865' y2='1613.94' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='9' y1='1453.31' x2='51.1464' y2='1453.31' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='722' y1='1224.58' x2='764.146' y2='1224.58' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='665.273' y1='1164.62' x2='760.726' y2='1164.62' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='1152.64' y1='1383.35' x2='1205.99' y2='1383.35' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='1745.71' y1='1276.65' x2='1817.14' y2='1276.65' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='9' y1='864.838' x2='329.037' y2='864.838' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='665.273' y1='864.838' x2='731.476' y2='864.838' stroke='black' stroke-opacity='0.6' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='839' y1='864.838' x2='1296.43' y2='864.838' stroke='black' stroke-opacity='0.6' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='1658.08' y1='864.838' x2='1911' y2='864.838' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='1863.52' y1='933.333' x2='1911' y2='933.333' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='605.976' y1='1613.94' x2='806.758' y2='1613.94' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='1074.22' y1='1613.94' x2='1108.6' y2='1613.94' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='1418.08' y1='1613.94' x2='1431.29' y2='1613.94' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='1141' y1='1613.94' x2='1372.37' y2='1613.94' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='249.026' y1='1613.94' x2='264.521' y2='1613.94' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='1678.5' y1='1613.94' x2='1693.99' y2='1613.94' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='1723.54' y1='1613.94' x2='1928.75' y2='1613.94' stroke='%235A5A5A' stroke-width='18' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    > .train-container {
      position: absolute;
      bottom: 59.9%;
      right: -100%;
      width: 75%;
      animation: train-moving 3.5s ease-in 0.5s 1;
      > svg {
        width: 100%;
        height: calc(25vw * 0.35);
      }
    }
    > .error-content-container {
      position: absolute;
      left: 50%;
      top: 10vw;
      width: 31%;
      height: 16vw;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      > .error-content-text-container {
        position: relative;
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 16px;
        > .error-content-text-head {
          margin: 0;
          font-weight: bold;
          font-size: 96px;
          line-height: 115%;
          text-align: center;
          letter-spacing: -1.5px;
        }
        > .error-content-text-info {
          margin-top: 20px;
          font-weight: normal;
          font-size: 22px;
          line-height: 136%;
          text-align: center;
          letter-spacing: 0.7px;
        }
        > .error-content-button-container {
          position: absolute;
          bottom: 16px;
          left: 50%;
          width: 100%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          font-weight: normal;
          font-size: 18px;
          line-height: 122%;
          text-align: center;
          letter-spacing: 0.03em;
          text-decoration: none;
          color: #0066ff;
        }
      }
      > .error-content-warn {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 19.716%;
        height: 37.425%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-image: url("data:image/svg+xml,%3Csvg width='126' height='126' viewBox='0 0 126 126' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M114.765 100.424L68.1967 19.7659C65.8873 15.7659 60.1138 15.7659 57.8044 19.7659L11.2364 100.424C8.92701 104.424 11.8138 109.424 16.4326 109.424H109.568C114.187 109.424 117.074 104.424 114.765 100.424ZM76.8569 14.7659C70.6985 4.09926 55.3025 4.09927 49.1441 14.7659L2.57615 95.424C-3.58225 106.091 4.11576 119.424 16.4326 119.424H109.568C121.885 119.424 129.583 106.091 123.425 95.424L76.8569 14.7659Z' fill='%23FBDE9E'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M63.6465 35.5968C66.4079 35.5968 68.6465 37.8354 68.6465 40.5968L68.6465 77.4993C68.6465 80.2607 66.4079 82.4993 63.6465 82.4993C60.8851 82.4993 58.6465 80.2607 58.6465 77.4993L58.6465 40.5968C58.6465 37.8354 60.8851 35.5968 63.6465 35.5968Z' fill='%23FBDE9E'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M63.6465 87.9968C66.4079 87.9968 68.6465 90.2354 68.6465 92.9968L68.6465 93.5425C68.6465 96.3039 66.4079 98.5425 63.6465 98.5425C60.8851 98.5425 58.6465 96.3039 58.6465 93.5425L58.6465 92.9968C58.6465 90.2354 60.8851 87.9968 63.6465 87.9968Z' fill='%23FBDE9E'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    > .portrait-button-container {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 10%;
      background-color: #fff;
      display: none;
      justify-content: center;
      align-items: center;
      > .error-content-button-container {
        position: relative;
        font-size: 18px;
      }
    }
    @-webkit-keyframes train-moving {
      from {
        right: -100%;
      }
      to {
        right: 200%;
      }
    }
    @keyframes train-moving {
      from {
        right: -100%;
      }
      to {
        right: 200%;
      }
    }
    
    /* --- utilities --- */
    a {
      text-decoration: none;
      color: #0066ff;
    }
    p:empty {
      height: 24px;
    }
    .disp-none {
      display: none !important;
    }
    .disp-flex {
      display: flex !important;
    }
  }
}

/* --- media queries --- */
@media all and (max-width: 1620px) {
  .error-page-wrapper {
    > .bg-container {
      > .error-content-container {
        > .error-content-text-container {
          > .error-content-text-head {
            font-size: 72px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 1440px) {
  .error-page-wrapper {
    > .bg-container {
      > .error-content-container {
        > .error-content-text-container {
          > .error-content-text-info {
            margin-top: 0;
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 1280px) {
  .error-page-wrapper {
    > .bg-container {
      > .error-content-container {
        > .error-content-text-container {
          > .error-content-text-head {
            font-size: 50px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 1152px) {
  .error-page-wrapper {
    > .bg-container {
      > .error-content-container {
        > .error-content-text-container {
          padding: 0 3px;
          > .error-content-text-head {
            font-size: 40px;
          }
          > .error-content-text-info {
            font-size: 14px;
          }
          > .error-content-button-container {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 900px) {
  .error-page-wrapper {
    > .bg-container {
      > .error-content-container {
        > .error-content-text-container {
          > .error-content-text-head {
            font-size: 28px;
          }
          > .error-content-button-container {
            bottom: 0;
          }
        }
      }
    }
  }
}
@media all and (orientation: portrait) and (max-width: 420px),
  (orientation: landscape) and (max-height: 420px) {
    .error-page-wrapper {
      > .bg-container {
        > .train-container {
          bottom: 59.5%;
        }
        > .error-content-container {
          > .error-content-text-container {
            > .error-content-text-head {
              font-size: 24px;
            }
            > .error-content-text-info {
              font-size: 12px;
            }
            > .error-content-button-container {
              display: none;
            }
          }
        }
        > .portrait-button-container {
          display: flex;
        }
      }
    }
}
@media all and (orientation: portrait) {
  .error-page-wrapper {
    > .bg-container {
      height: 100%;
      > .error-content-container {
        top: 10%;
        width: 27vh;
        height: 13vh;
      }
    }
  }
}
@media all and (orientation: portrait) and (max-width: 420px) {
  .error-page-wrapper {
    > .bg-container {
      > .train-container {
        width: 100%;
        > svg {
          height: calc(34vw * 0.35);
        }
      }
    }
  }
}