@font-face {
  font-family: "Avenir Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Avenir"), local("Avenir-Regular"),
    url("../fonts/avenir-regular.woff2") format("woff2"),
    url("../fonts/avenir-regular.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Avenir Regular';
}

$colors:
  "blue-dark" #05386B #fff,
  "green-dark" #379683 #fff,
  "green-light" #5CDB95 #000,
  "green-lighter" #8EE4AF #000,
  "white-sand" #EDF5E1 #000;

  @each $name, $bgHex, $textHex in $colors {
    .bg-#{$name} {
      background-color: $bgHex;
      color: $textHex;
    }
  }