@import "utilities.scss";
@import "theme.scss";
$relW: 40px; /* --- customizable in em or px --- */
$relH: $relW * (7/8); /* --- do not change this size --- */
.header-wrapper {
  @include flex(row, none, flex-end, none, none);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  padding: 0 20px;
  z-index: 99;
  transition: box-shadow 0.1s ease, background-color 0.2s ease;
  &.dark-header {
    background-color: transparent;
    > .header-container {
      > .logo-container > svg > path:nth-child(3) {
        stroke: #edf5e1;
      }
      > .nav-wrapper {
        > .nav-element {
          @include get-color(lightest, true);
        }
      }
      > .burger-menu-container {
        > div {
          @include get-color(lightest, false);
        }
      }
    }
  }
  &.headerShadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  &.nav-menu-vis {
    background-color: #fff;
    > .header-container {
      > .logo-container > svg > path:nth-child(3) {
        stroke: rgb(5, 56, 107);
      }
      > .burger-menu-container {
        > div {
          @include get-color(darkest, false);
        }
      }
    }
  }
  > .header-container {
    @include flex(row, flex-start, center, none, none);
    position: relative;
    width: 100%;
    height: 100%;
    > .logo-container {
      height: 60%;
      > svg {
        width: auto;
        height: 100%;
        > path:nth-child(3) {
          transition: stroke .2s ease;
        }
      }
    }
    > .nav-wrapper {
      @include flex(row, space-between, center, wrap, none);
      margin-left: 50px;
      > .nav-element {
        &.nav-active {
          text-shadow: 0 0 0.75px #000, 0 0 0.75px #000;
        }
        &:not(:first-child) {
          margin-left: 36px;
        }
        color: #000;
        text-decoration: none;
      }
    }
    > .burger-menu-container {
      position: relative;
      width: $relW;
      height: $relH;
      cursor: pointer;
      overflow: hidden;
      > div {
        position: absolute;
        right: 0;
        width: 100%;
        height: 19%;
        @include get-color(darkest, false);
        border-radius: 15px;
        -webkit-transform-origin: right;
        -ms-transform-origin: right;
        transform-origin: right;
        transition: background-color .2s ease;
        &:nth-child(1) {
          top: 0;
          right: 0;
          transition: transform 0.3s ease, right 0.3s ease;
          &.animate {
            right: 5%;
            -webkit-transform: rotate(-41deg);
            -ms-transform: rotate(-41deg);
            transform: rotate(-41deg);
          }
        }
        &:nth-child(2) {
          top: 37.5%;
          transition: opacity 0.15s ease 0.15s;
          opacity: 1;
          &.animate {
            transition-delay: 0s !important;
            opacity: 0;
          }
        }
        &:nth-child(3) {
          top: 75%;
          right: 0;
          transition: transform 0.3s ease, right 0.3s ease;
          &.animate {
            right: 5%;
            -webkit-transform: rotate(41deg);
            -ms-transform: rotate(41deg);
            transform: rotate(41deg);
          }
        }
      }
    }
  }
  > .nav-menu {
    @include flex(column, flex-start, flex-start, none, none);
    position: fixed;
    top: $headerHeight;
    left: 0;
    width: 100%;
    height: calc(100% - #{$headerHeight});
    padding: 40px;
    background: #fff;
    opacity: 1;
    transition: opacity .2s ease;
    &.invis {
      opacity: 0;
      pointer-events: none;
    }
    > .nav-element {
      width: 100%;
      height: 60px;
      @include flex(column, center, none, none, none);
      &.nav-active {
        text-shadow: 0 0 0.75px #000, 0 0 0.75px #000;
      }
      color: #000;
      text-decoration: none;
      &:hover, &:focus, &:active {
        background-color: transparent;
        outline: none;
      }
    }
  }
}

@media all and (max-width: 700px) {
  .header-wrapper {
    > .header-container {
      @include flex(none, space-between, none, none, none);
    }
  }
}
