@import "utilities.scss";
@import "theme.scss";

.index-page-wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-image: url("../images/index/bg-landscape.jpg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: cover;
  > .index-page-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,.75);
    z-index: 2;
    > .hero-block {
      position: relative;
      width: 100%;
      height: 100%;
      > .adpillar-container {
        display: inline-block;
        margin-top: 13%;
        margin-left: 10%;
        > div {
          text-transform: uppercase;
          &.profession-container {
            > span {
              &:last-child {
                animation: blink 1s step-end infinite;
              }
            }
          }
        }
      }
      > .skills-container {
        @include flex(row, none, none, none, none);
        margin-top: calc(13% - #{$headerHeight});
        margin-left: 10%;
        > .skills-label {
          > button {
            background-color: transparent;
            border: none;
            outline: none;
            padding: 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@keyframes blink {
  0%, 100% { 
      opacity: 0;
  }
  50% { 
      opacity: 1;
  }
}

@media all and (orientation: portrait) {
  .index-page-wrapper {
    background-image: url("../images/index/bg-portrait.jpg");
    > .index-page-container {
      > .hero-block {
        > .adpillar-container {
          margin-top: 40%;
        }
        > .skills-container {
          @include flex(column, none, none, none, none);
          margin-top: 30%;
          > .skills-label {
            margin-top: 2%;
          }
        }
      }
    }
  }
}

@media all and (orientation: landscape) and (max-width: 700px) {
  .index-page-wrapper {
    > .index-page-container {
      > .hero-block {
        > .adpillar-container {
          margin-top: 20%;
        }
        > .skills-container {
          margin-top: 10%;
        }
      }
    }
  }
}