.hero-block {
  margin-top: 130px;
  width: 100%;
  height: auto;
  > .text-container {
    max-width: calc(100% - 30px);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    > span {
      width: 733px;
      text-align: center;
      margin-top: 40px;
      &:first-child {
        width: auto;
        margin-top: 31px;
        white-space: nowrap;
      }
    }
  }
  > .visualization-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 40px;
    overflow-x: hidden;
    > .train-img {
      position: absolute;
      top: 9vw;
      left: -1.5%;
      width: 28%;
    }
    > .net-img {
      position: relative;
      width: 45%;
      margin-bottom: 200px;
    }
    > .bridge-img {
      position: absolute;
      top: 7.5vw;
      right: -6.7%;
      width: 36%;
    }
  }
}

.plattform-block {
  width: 100%;
  height: auto;
  background-color: #f7f7f7;

  > .kategorien-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 90px;
    > .kategorien-container {
      position: relative;
      width: 23.5%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      > img {
        position: relative;
        width: 40%;
        height: 40%;
        margin-top: 10px;
      }
      > span {
        margin-top: 50px;
        margin-bottom: -14%;
      }
    }
    > .line-wrapper {
      position: absolute;
      bottom: 0;
      left: 3%;
      width: 94%;
      height: 3px;
      > .line-grey {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #E7EAEE;
      }
      > .line-blue {
        position: absolute;
        bottom: 0;
        width: 25%;
        height: 100%;
        background-color: #0066FF;
        transition: right .5s ease;
      }
    }
  }
  > .kategorien-details-wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    > .kategorien-details-container {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      min-width: 100%;
      width: 100%;
      height: auto;
      transition: transform .5s ease;
      > div {
        height: 458px;
        margin-top: 100px;
        margin-bottom: 155px;
      }
      > .kategorien-img {
        width: 490px;
        background-image: url(../images/index/animation-schnittstellenoffen-placeholder.png);
      }
      > .kategorien-text-container {
        display: flex;
        flex-direction: column;
        width: 460px;
        margin-left: 160px;
        > span {
          margin-top: 40px;
          &:first-child {
            margin-top: 30px;
          }
        }
        > a {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 60px;
        }
      }
    }
  }
}

.referenzen-block {
  width: 100%;
  height: auto;
  > .headline-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 150px;
  }
  > .referenzen-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 100px;

    > .referenzen-container {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 32.3%;
      height: auto;

      > img {
        position: relative;
        width: 100%;
      }
      > span {
        margin-top: 20px;
        &.title {
          margin-top: 30px;
        }
      }
    }
  }

  > .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 48px;
  }
}

.kompetenzen-block {
  width: 100%;
  height: auto;
  > .headline-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 150px;
  }
  > .kompetenzen-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 100px;

    > .kompetenzen-container {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 30%;
      height: auto;
      margin-bottom: 100px;

      > div {
        position: relative;
        width: 36px;
        height: 36px;
      }
      > .projektmanagement-img {
        background-image: url(../images/index/icon-projektmanagement.svg);
      }
      > .consulting-img {
        background-image: url(../images/index/icon-consulting.svg);
      }
      > .analytics-img {
        background-image: url(../images/index/icon-analytics.svg);
      }
      > .design-img {
        background-image: url(../images/index/icon-design.svg);
      }
      > .development-img {
        background-image: url(../images/index/icon-development.svg);
      }
      > .support-img {
        background-image: url(../images/index/icon-support.svg);
      }
      > span {
        margin-top: 16px;
        &:first-child {
          margin-top: 30px;
        }
      }
    }
  }

  > .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 250px;
  }
}

// ------ small desktop -> max 16:9
@media all and (max-width: 1300px) and (max-height: 600px) {
  .hero-block {
    > .visualization-container {
      margin-top: 30px;
    }
    > .text-container {
      > span {
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

// ------ small desktop
@media all and (max-width: 1400px) {
  .kompetenzen-block {
    > .kompetenzen-wrapper {
      > .kompetenzen-container {
        width: 47.5%;
      }
    }
  }
}

// ------ medium desktop
@media all and (max-width: 1400px) {
  .kompetenzen-wrapper, .referenzen-wrapper {
    margin-top: 66px !important;
  }
  .kompetenzen-container {
    margin-bottom: 66px !important;
  }
}

// ------ mobile general
@media all and (orientation: portrait) and (max-width: 1023px), (orientation: landscape) and (max-height: 500px) {
  .hero-block {
    margin-top: 110px;
    > .text-container {
      > span {
        max-width: 733px;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    > .visualization-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: auto;
      overflow: hidden;
      > .train-img {
        position: absolute;
        top: 7vw;
        left: -20%;
        width: 51%;
      }
      > .net-img {
        position: relative;
        width: 60%;
        margin-top: -13vw;
        margin-bottom: 50px;
        z-index: 2;
      }
      > .bridge-img {
        position: absolute;
        top: 5vw;
        right: -33%;
        width: 66%;
      }
    }
  }

  .plattform-block {  
    padding: 0;
    background-color: #fff;
    > .kategorien-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 0;
      > .line-wrapper {
        display: none;
      }
      > .kategorien-container {
        position: relative;
        width: calc(50% - 4px);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #f7f7f7;
        &:nth-child(3), &:nth-child(4) {
          margin-top: 8px;
        }
        > img {
          position: relative;
          width: 50%;
          height: 50%;
          margin-top: 30px;
        }
        > span {
          margin-top: 10px;
          margin-bottom: 30px;
          font-size: 13px;
        }
        > .line {
          display: none;
        }
      }
    }
    > .kategorien-details-wrapper {
      > .kategorien-details-container {
        display: none;
      }
    }
  }

  .referenzen-block {
    > .headline-container {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      height: auto;
      margin-top: 60px;
    }
    > .referenzen-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      margin-top: 40px;
  
      > .referenzen-container {
        width: 100%;
        > span {
          margin-top: 10px;
          &.title {
            margin-top: 20px;
          }
        }
        &:not(:first-child) {
          margin-top: 80px;
        }
      }
    }
  
    > .button-container {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-top: 60px;
      margin-bottom: 48px;
      > a {
        min-width: 240px;
      }
    }
  }

  .kompetenzen-block {
    > .headline-container {
      justify-content: flex-start;
      margin-top: 100px;
    }
    > .kompetenzen-wrapper {
      margin-top: 50px;
  
      > .kompetenzen-container {
        width: 100%;
        margin-bottom: 50px;
        > span {
          margin-top: 16px;
          &:first-child {
            margin-top: 30px;
          }
        }
      }
    }
  
    > .button-container {
      justify-content: flex-start;
      margin-top: 60px;
      margin-bottom: 150px;
      > a {
        min-width: 240px;
      }
    }
  }
}

// ------ mobile landscape
@media all and (orientation: landscape) and (max-height: 500px) {
  .hero-block {
    margin-top: 80px;
    > .visualization-container {
      margin-top: 0;
    }
  }
  .plattform-block {
    > .kategorien-wrapper {
      > .kategorien-container {
        > span {
          font-size: 19px;
        }
      }
    }
  }
}