// --- font
$fonts: "AvenirNext-Bold" "Bold", "AvenirNext-Demi" "Demi",
  "AvenirNext-Regular" "Regular";

@each $fileName, $varName in $fonts {
  @font-face {
    font-family: $varName;
    src: url("../fonts/#{$fileName}.eot");
    src: url("../fonts/#{$fileName}.eot?#iefix") format("embedded-opentype"),
      url("../fonts/#{$fileName}.woff2") format("woff2"),
      url("../fonts/#{$fileName}.woff") format("woff"),
      url("../fonts/#{$fileName}.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

// --- font styles as classes
$fontStyles: 
"header-1" "Regular" 96px 100% 2px,
"header-2" "Regular" 60px 100% 1.5px,
"header-3" "Demi" 40px 150% 0.03em,
"header-4" "Regular" 24px 150% 0.03em,
"header-4_5" "Bold" 24px 150% 0.03em,
"subheading-1" "Regular" 20px 100% 0.03em,
"body-1" "Regular" 16px 160% 0.7px,
"body-2" "Regular" 14px 100% 0.03em;

$mobileFontStyles: 
"header-1" "Regular" 48px 100% 2px,
"header-2" "Regular" 30px 100% 1.5px,
"header-3" "Demi" 40px 150% 0.03em,
"header-4" "Regular" 18px 150% 0.03em,
"header-4_5" "Bold" 18px 150% 0.03em,
"subheading-1" "Regular" 20px 100% 0.03em,
"body-1" "Regular" 16px 160% 0.7px,
"body-2" "Regular" 14px 100% 0.03em;

@each $name, $font, $size, $lineHeight, $letterSpacing in $fontStyles {
  .font-#{$name} {
    font-family: $font;
    font-size: $size;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
  }
}

@media all and (max-width: 1200px), (max-height: 640px) {
  @each $name, $font, $size, $lineHeight, $letterSpacing in $fontStyles {
    @if(str-index($name, 'header')) {
      .font-#{$name} {
        font-size: $size / 1.3;
      }
    }
  }
}

@media all and (orientation: portrait) and (max-width: 640px) {
  @each $name, $font, $size, $lineHeight, $letterSpacing in $mobileFontStyles {
    .font-#{$name} {
      font-family: $font;
      font-size: $size;
      line-height: $lineHeight;
      letter-spacing: $letterSpacing;
    }
  }
}

// --- coloring as vars
$colors: (
  darkest: #000000,
  dark1: #05386b,
  dark2: #379683,
  light1: #5cdb95,
  light2: #8ee4af,
  lightest: #edf5e1,
  flatwhite: #ffffff,
);

@mixin get-color($col, $asTextCol) {
  @if $asTextCol {
    color: map-get($colors, $col);
  }
  @else {
    background-color: map-get($colors, $col);
  }
}

@mixin get-color-yiq($background) {
  $r: red($background);
  $g: green($background);
  $b: blue($background);
  
  $yiq: (($r*299) + ($g*587) + ($b*114))/1000;
  
  @if ($yiq >= 128) {
    color: #000000;
  }
  @else {
    color: #ffffff;
  }
}

// --- coloring as classes
@each $name, $hexCol in $colors {
  .text-color-#{$name} {
    color: $hexCol;
  }
  .background-color-#{$name} {
    background-color: $hexCol;
    @include get-color-yiq($hexCol);
  }
}