<!DOCTYPE HTML>

<head>
  <script src="../../globals/ext/jquery.min.js"></script>
  <script src="../../globals/ext/angular.min.js"></script>
  <script src="../../globals/ext/bootstrap.min.js"></script>
  <script src="../../globals/ext/lodash.min.js"></script>
  <script src="index.js"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="../../globals/ext/bootstrap.min.css">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <!-- lock zoom on mobile devices -->
</head>

<body ng-app="digitApp" ng-controller="digitCtrl" class="flex-display flex-center">
<div id="sizeSimulation">
  <div id="toolbar" class="flex-display flex-end">
    <a href="http://www.ercancicek.de" id="closeBtn" class="flex-display flex-center"><span class="glyphicon glyphicon-remove"></span></a>
  </div>
  <div class="eql-container flex-display flex-column flex-center">
      <div class="calculator-wrapper flex-display flex-center">
          <div class="calculator-container flex-display flex-column flex-alignCenter">
              <!-- for anim -->
              <div ng-if="TypeAnimRuns" class="fake-screen-container flex-display flex-row flex-end" ng-bind-html="screenContent"></div>
              <!-- actual content -->
              <div ng-if="!TypeAnimRuns" class="screen-container flex-display flex-row flex-end">
                <div ng-repeat="area in curFormula" class="flex-display flex-center" ng-class="(area.isNumber ? 'screenNumber' : '')">
                    <a href="#" ng-if="area.isNumber" id="res-digit-container-{{area.id}}" class="res-digit-container clickable flex-display flex-row flex-center flex-alignCenter" ng-class="(curActiveFieldId === area.id ? 'markedField' : '') + ' ' + (equationClickBlocked ? 'noCursor' : '')" ng-click="fieldClick(area.id)">
                        <span ng-if="area.value != 'null'" class="flex-display flex-row flex-center flex-alignCenter">{{area.value}}</span>
                        <span ng-class="curActiveFieldId === area.id ? 'eql-cursor-blinking' : 'softHide'" class="eql-cursor">_</span>
                    </a>
                    <div ng-if="area.isSymbol" class="{{area.css}}"></div>
                </div>
                <div class="equals flex-display flex-center"></div>
                <div class="equalsNmbr flex-display flex-center"><span>{{result}}</span></div>
              </div>
              <div class="digit-button-container flex-display flex-flow flex-center">
                  <a href="#" id="digit-button-{{i < 9 ? i + 1 : 'erase'}}" class="digit-button clickable flex-display flex-center" ng-class="((i+1)%3 === 0 ? 'ml9': ((i%3 ===0 && i!==9) ? 'mr9' : '') ) + ' ' + (usedNumbers.indexOf(i + 1) !== -1 ? 'usedNumber' : '') + ' ' + ((curActiveFieldValue.value-1) === i ? 'usedNumberActive': 'nostylesClass')" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]" ng-click="i < 9 ? numberClick(i + 1) : eraseClick()">
                      <span ng-class="i === 9 ? 'icon-erase' : ''">{{i < 9 ? i + 1 : ''}}</span>
                  </a>
              </div>
          </div>
      </div>
      <a href="#" class="lock-wheel-container" ng-click="saveItem()" ng-class="formulaCompleteDisplay ? 'lock-wheel-active' : ''"></a>
  </div>
  <div id="fake-eql-container" class="flex-display flex-column flex-center">
      <div class="calculator-wrapper flex-display flex-center">
          <div class="calculator-container flex-display flex-column flex-alignCenter">
              <div class="screen-container flex-display flex-row flex-end"></div>
              <div class="digit-button-container flex-display flex-flow flex-center">
                  <a href="#" id="digit-button-{{i < 9 ? i + 1 : 'erase'}}" class="digit-button clickable flex-display flex-center" ng-class="((i+1)%3 === 0 ? 'ml9': ((i%3 ===0 && i!==9) ? 'mr9' : '') )" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
                      <span ng-class="i === 9 ? 'icon-erase' : ''">{{i < 9 ? i + 1 : ''}}</span>
                  </a>
              </div>
          </div>
      </div>
      <a href="#" class="lock-wheel-container" ng-click="saveItem()" ng-class="formulaCompleteDisplay ? 'lock-wheel-active' : ''"></a>
  </div>

</div>
</body>
