html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

.eql-container {
  position: relative;
  width: 100%;
  height: calc(100% - 2.2em);
}

/*====================player styles=======================================*/
a {
  text-decoration: none !important;
}

#toolbar {
  position: relative;
  width: 100%;
  height: 2.2em;
  padding: 0 15px;
  box-shadow: 0 3px 3px #ccc;
  background-color: #1d3061;
  z-index: 999;
}

#toolbar > span {
  margin-right: 1em;
  color: white;
}

#closeBtn {
  color: #fff;
  font-size: 1.2em;
}

#closeBtn:hover,
#closeBtn:focus {
  text-decoration: none !important;
}

body {
  background-color: #fafafa !important;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-size: auto 32%, auto 32%;
}

.icon-erase {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 115 145'%3E%3Cpath d='M81.762,144.732l-48.637,0c-14.349,0 -15.879,-14.94 -15.893,-15.091l-9.954,-83.654c-0.098,-0.823 2.128,-1.569 2.951,-1.667c0.823,-0.102 3.022,0.489 3.12,1.312l10.168,83.695c0.053,0.542 1.414,7.486 9.608,7.486l48.636,0c0.307,0 0.294,-0.005 0.895,-0.015c6.811,-0.109 8.733,-6.979 8.778,-7.471l9.566,-83.695c0.099,-0.822 2.801,-1.407 3.61,-1.312c0.823,0.098 3.096,0.844 2.998,1.667l-9.959,83.694c-0.008,0.112 -1.542,15.051 -15.887,15.051Zm-23.562,-17.755c-1.824,0 -3.3,-2.265 -3.3,-3.093l0,-73.239c0,-0.829 1.476,-2.999 3.3,-2.999c1.824,0 3.3,2.17 3.3,2.999l0,73.239c0,0.828 -1.476,3.093 -3.3,3.093Zm15.76,-0.228c-1.814,-0.195 -3.039,-2.604 -2.951,-3.427l7.829,-72.82c0.088,-0.824 1.788,-2.824 3.602,-2.629c1.814,0.195 3.05,2.511 2.961,3.335l-7.829,72.819c-0.088,0.824 -1.798,2.917 -3.612,2.722Zm-37.383,-15.609l-6.444,-59.932c-0.088,-0.824 1.148,-3.14 2.961,-3.335c1.814,-0.195 3.514,1.805 3.602,2.629l7.829,72.82c0.089,0.823 -1.137,3.232 -2.951,3.427c-1.4,0.151 -2.739,-1.063 -3.317,-2.003c-0.271,-0.219 -0.444,-0.499 -0.474,-0.817l-1.206,-12.789Zm76.828,-70.964c-0.005,0 -0.013,0.001 -0.02,0l-111.885,0c-0.405,0 -0.793,-0.185 -1.076,-0.513c-0.282,-0.328 -0.435,-0.771 -0.424,-1.228c0.006,-0.223 0.783,-22.289 18.188,-22.289l78.507,0c12.319,0 16.309,11.052 17.591,17.592c0.409,2.083 0.542,3.708 0.583,4.372c0.023,0.12 0.036,0.246 0.036,0.375c0,0.934 -0.671,1.691 -1.5,1.691Zm-16.71,-19.063l-78.507,0c-6.482,0 -10.156,7.602 -11.641,11.782c-0.208,0.609 -0.108,1.281 0.266,1.804c0.375,0.524 0.979,0.834 1.622,0.834c16.219,0.005 100.877,0.005 100.877,0.005c-0.126,-1.135 -3.158,-14.425 -12.617,-14.425Zm-47.556,-17.139c-6.589,1.274 -6.376,7.397 -6.376,7.753c0,0.829 -1.42,1.5 -2.249,1.5c-0.829,0 -2.025,-0.671 -2.025,-1.5c0,-4.056 2.226,-11.727 10.65,-11.727l16.607,0c8.424,0 10.649,7.671 10.649,11.727c0.001,0.829 -1.495,1.5 -2.323,1.5c-0.827,0 -1.948,-0.673 -1.95,-1.5c-0.002,-0.356 0.244,-6.329 -6.376,-7.753l-16.607,0Z' style='fill:%23434343;'/%3E%3C/svg%3E");
  height: 65%;
  width: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media all and (orientation: portrait) and (max-device-width: 359px) {
  .lock-btn-container {
    width: 45px;
    height: 45px;
  }

  .lock-btn-close {
    margin-left: 25%;
    margin-top: 25%;
  }
}

.hide-all {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.num-container > p {
  margin-top: 10px;
}

.number-container {
  margin: 10px;
  position: relative;
}

.number-container:hover {
  text-decoration: none !important;
  cursor: pointer;
}

.num-container {
  width: 80px;
  height: 80px;
  border-radius: 10%;
}

.math-container {
  background: #cccccc;
}

.math-container:hover {
  cursor: pointer;
}

#eql-state {
  font-size: 7em;
  border-radius: 50%;
  padding: 25px;
}

.instruction {
  margin: 1.3em 0 1em 0;
}

.open-bracket:after {
  content: "(";
  margin: 0 0.1em 0 0;
}

.close-bracket:after {
  content: ")";
  margin: 0 -0.1em 0 0.1em;
}

.plus:after {
  content: "+";
  margin: 0 0.1em 0 0.1em;
}

.minus:after {
  content: "-";
  margin: 0 0.1em 0 0.1em;
}

.multi:after {
  content: "x";
  margin: 0 0.1em 0 0.1em;
}

.equals:after {
  content: "=";
  margin: 0 0.1em 0 0.1em;
}

#state-modal-body {
  font-size: 6em;
  padding: 0.3em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 50%;
}

.active-field {
  background-color: red;
}

.inactive-field {
  background-color: #cccccc;
}

.num-container:focus {
  outline: blue dotted thin;
}

.round-icon-green {
  background: #449d44;
}

.round-icon-red {
  background: #f44336;
}

.eql-nav * {
  background-color: transparent !important;
}

@media screen and (orientation: portrait) {
  .css_bottomPlus {
    bottom: 9em;
  }

  .inc-font-size {
    font-size: 2em;
    color: #4c4c4c;
  }

  #droppables {
    width: 100%;
  }
}

@media screen and (orientation: landscape) and (max-device-width: 800px) {
  .css_bottomPlus {
    bottom: 0;
  }

  .inc-font-size {
    font-size: 2em;
    color: #4c4c4c;
  }
}

@media screen and (orientation: landscape) and (min-device-width: 801px) {
  .css_bottomPlus {
    bottom: 9em;
  }

  .inc-font-size {
    font-size: 3em;
    color: #4c4c4c;
  }
}

.calculator-wrapper {
  position: relative;
  width: 10vw;
  /* placeholder */
  height: 15vw;
  /* placeholder */
}

.calculator-container {
  position: relative;
  width: 80%;
  height: 90%;
}

.eql-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: right;
  backface-visibility: hidden;
  background-color: #fafafa;
  z-index: 99;
}

#fake-eql-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  background-color: #fafafa;
  z-index: 1;
}

.eql-container.active {
  animation: flipHide 2s 1;
}

@keyframes flipHide {
  0% {
    transform: rotateY(0) translate(-50%, -50%);
  }

  20% {
    transform: rotateY(0) translate(-45%, -50%) scale(1.1);
  }

  100% {
    transform: rotateY(180deg) translate(-45%, -50%) scale(1.2);
  }
}

.screen-container,
.fake-screen-container {
  font-size: 2em;
  width: 100%;
  height: 20%;
  background-color: #e9e9e9;
  border-radius: 10px;
  padding-right: 0.33em;
  align-items: center;
  -webkit-box-shadow: inset 0px 0px 2px 0px #b3b3b3;
  -moz-box-shadow: inset 0px 0px 2px 0px #b3b3b3;
  box-shadow: inset 0px 0px 2px 0px #b3b3b3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='330' height='92' viewBox='0 0 330 92' %3E%3Cpath d='M330.25,-10.135l0,101.885l-340.19,0l0,-4.75c4.247,0 274.46,0 279.396,0c27.331,0 55.544,-27.783 55.544,-53.997c0,-5.708 0,-38.067 0,-43.138l5.25,0Z' style='fill:%23E2E2E2;'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.screen-container > div {
  height: 100%;
}

.fake-screen-container > div {
  height: 75%;
}

.screen-container > .screenNumber,
.fake-screen-container > .screenNumber {
  min-width: 10%;
}

.eql-cursor {
  opacity: 1;
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  backface-visibility: hidden;
}

@media all and (min-width: 1200px) and (min-height: 768px) {
  .eql-cursor {
    bottom: 20%;
  }
}

.eql-cursor-blinking {
  -webkit-animation: cursorBlink 1.5s steps(1, start) infinite;
  animation: cursorBlink 1.5s steps(1, start) infinite;
}

@-webkit-keyframes cursorBlink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes cursorBlink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.ml9 {
  margin-left: 8%;
}

.mr9 {
  margin-right: 8%;
}

.res-digit-container {
  position: relative;
  width: 1em;
  height: 75%;
  border-radius: 10px;
  background-color: #c9c9c9;
  color: #434343;
}

.res-digit-container:not(.markedField):hover,
.res-digit-container:not(.markedField):focus {
  /* remove default a styles */
  color: #434343;
}

.res-digit-container.markedField:hover,
.res-digit-container.markedField:focus {
  /* remove default a styles */
  color: #434343;
}

.digit-button-container {
  width: 100%;
  height: 70%;
}

.digit-button {
  width: 28%;
  height: 28%;
  margin-top: 4%;
  border-radius: 20%;
  background-color: #e9e9e9;
  text-decoration: none;
  color: #434343;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' %3E%3Cpath d='M100,0.012l0,99.988l-99.987,0l0,-4.897c5.862,0 28.405,0 34.987,0c36.441,0 59.968,-25.39 59.968,-60.103c0,-7.559 0.048,-27.996 0.048,-34.988l4.984,0Z' style='fill:%23E2E2E2;'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.digit-button:hover,
.digit-button:focus,
.digit-button:active {
  /* remove default a styles */
  text-decoration: none;
  color: #434343;
}

#digit-button-erase {
  width: 100%;
  height: 25%;
  border-radius: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='100' viewBox='0 0 400 100' %3E%3Cpath d='M400,0l0,100l-400,0l0,-5c5.663,0 312.36,0 318.942,0c36.441,0 76.058,-38.377 76.058,-73.329c0,-7.611 0,-14.909 0,-21.671l5,0Z' style='fill:%23E2E2E2;'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.digit-button > span {
  font-size: 2.5em;
}

#digit-button-erase > span {
  font-size: 2em;
  margin-right: 5%;
  margin-left: 5%;
}

.rounded-border {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
}

.digit-toRight {
  justify-content: flex-end !important;
}

.lock-wheel-container {
  width: 4em;
  height: 4em;
  margin-top: 2em;
  border-radius: 50%;
  transform: rotate(0);
  backface-visibility: hidden;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Ebene_1' data-name='Ebene 1' xmlns='http://www.w3.org/2000/svg' width='450' height='450' viewBox='0 0 450 450'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%235a5a5a;}.cls-2{fill:%23fff;}%3C/style%3E%3C/defs%3E%3Ctitle%3Ewheel%3C/title%3E%3Cpath class='cls-1' d='M225,27A198,198,0,0,1,365,365,198,198,0,0,1,85,85,196.74,196.74,0,0,1,225,27m0-27C100.74,0,0,100.74,0,225S100.74,450,225,450,450,349.26,450,225,349.26,0,225,0Z'/%3E%3Crect class='cls-2' x='215.5' y='21.5' width='19' height='407'/%3E%3Cpolygon class='cls-1' points='247 9 203 9 203 441 247 441 247 9 247 9'/%3E%3Crect class='cls-2' x='21.5' y='215.5' width='407' height='19'/%3E%3Cpolygon class='cls-1' points='441 203 9 203 9 247 441 247 441 203 441 203'/%3E%3Ccircle class='cls-1' cx='225' cy='221' r='87'/%3E%3C/svg%3E");
  background-color: #c0c0c0;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.wheelAnim {
  transition: transform 0.5s ease-in-out;
}

.lock-wheel-container.active {
  transform: rotate(180deg);
}

/* --- level up/down anim --- */
.up-anim-parent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 2.2em);
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.up-anim-text {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

.up-anim-chevron-container {
  position: relative;
  height: 3em;
  margin-bottom: 2em;
}

.up-anim-chevron-container > .up-anim-chevron {
  position: absolute;
  left: 50%;
  font-size: 3em;
  color: #fff;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  opacity: 0;
}

.up-anim-chevron-container > .up-anim-chevron:first-child {
  top: 20%;
  -webkit-animation: moveUpAndFade 0.75s linear 0s infinite;
  animation: moveUpAndFade 0.75s linear 0s infinite;
}

.up-anim-chevron-container > .up-anim-chevron {
  top: 50%;
  -webkit-animation: moveUpAndFade 0.75s linear (0.75s / 4) infinite;
  animation: moveUpAndFade 0.75s linear (0.75s / 4) infinite;
}

.reverseAnim {
  animation-direction: reverse !important;
}

@-webkit-keyframes moveUpAndFade {
  0% {
    top: 100%;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    top: -20%;
    opacity: 0;
  }
}
@keyframes moveUpAndFade {
  0% {
    top: 100%;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    top: -20%;
    opacity: 0;
  }
}

/* --- remove default a styles --- */
#switchEle:hover,
#switchEle:focus,
#switchEle:active {
  text-decoration: none;
}

/* --- utilities --- */
.clickable:hover {
  cursor: pointer;
}

.softHide {
  visibility: hidden !important;
}

.deepHide {
  display: none !important;
}

.usedNumber {
  background-color: #c0c0c0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' %3E%3Cpath d='M100,0.012l0,99.988l-99.987,0l0,-4.897c5.862,0 28.405,0 34.987,0c36.441,0 59.968,-25.39 59.968,-60.103c0,-7.559 0.048,-27.996 0.048,-34.988l4.984,0Z' style='fill:%23B5B5B5;'/%3E%3C/svg%3E");
  cursor: not-allowed !important;
}

.usedNumber:active,
.usedNumber:hover,
.usedNumber:focus {
  background-color: #c0c0c0;
}

.usedNumberActive {
  background-color: #696969;
  color: #ffffff !important;
  cursor: pointer !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' %3E%3Cpath d='M100,0.012l0,99.988l-99.987,0l0,-4.897c5.862,0 28.405,0 34.987,0c36.441,0 59.968,-25.39 59.968,-60.103c0,-7.559 0.048,-27.996 0.048,-34.988l4.984,0Z' style='fill:%235E5E5E;'/%3E%3C/svg%3E");
}

.usedNumberActive:active,
.usedNumberActive:hover,
.usedNumberActive:focus {
  background-color: #696969;
  color: #ffffff;
}

.lowerOpac {
  opacity: 0.5;
}

.noCursor {
  cursor: default !important;
}

.noAnimation {
  animation: none !important;
}

@keyframes shakeAnim {
  0% {
    transform: translateX(0px);
  }

  10% {
    transform: translateX(-3px);
  }

  20% {
    transform: translateX(5px);
  }

  30% {
    transform: translateX(-8px);
  }

  40% {
    transform: translateX(20px);
  }

  50% {
    transform: translateX(-20px);
  }

  60% {
    transform: translateX(8px);
  }

  70% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(3px);
  }

  90% {
    transform: translateX(0px);
  }
}

@-webkit-keyframes shakeAnim {
  0% {
    -webkit-transform: translateX(0px);
  }

  10% {
    -webkit-transform: translateX(-3px);
  }

  20% {
    -webkit-transform: translateX(5px);
  }

  30% {
    -webkit-transform: translateX(-8px);
  }

  40% {
    -webkit-transform: translateX(20px);
  }

  50% {
    -webkit-transform: translateX(-20px);
  }

  60% {
    -webkit-transform: translateX(8px);
  }

  70% {
    -webkit-transform: translateX(-5px);
  }

  80% {
    -webkit-transform: translateX(3px);
  }

  90% {
    -webkit-transform: translateX(0px);
  }
}

.css_highlightBtn {
  border: 1px solid #6a9c38;
  -o-box-shadow: 0px 0px 5px 2px #426223;
  -webkit-box-shadow: 0px 0px 5px 2px #426223;
  -ms-box-shadow: 0px 0px 5px 2px #426223;
  box-shadow: 0px 0px 5px 2px #426223;
  -moz-animation: pulsate-shadow 1.5s infinite;
  -o-animation: pulsate-shadow 1.5s infinite;
  -webkit-animation: pulsate-shadow 1.5s infinite;
  -ms-animation: pulsate-shadow 1.5s infinite;
  animation: pulsate-shadow 1.5s infinite;
}

@-webkit-keyframes pulsate-lock-btn {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-lock-btn {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/* --- media queries --- */
@media all and (orientation: portrait) and (max-width: 500px) {
  .screen-container,
  .fake-screen-container {
    font-size: 1.5em;
  }

  .digit-button > span {
    font-size: 2em;
  }
}

@media all and (orientation: portrait) and (max-width: 400px) {
  .screen-container,
  .fake-screen-container {
    font-size: 1.25em;
  }

  .digit-button > span {
    font-size: 1.5em;
  }

  .digit-button {
    border-radius: 10%;
  }
}

@media all and (orientation: portrait) and (max-width: 325px) {
  .screen-container,
  .fake-screen-container {
    font-size: 1em;
  }

  .digit-button > span {
    font-size: 1.25em;
  }
}

@media all and (orientation: landscape) and (min-width: 1279px) and (max-height: 620px) {
  html,
  body {
    width: 100%;
    height: 100%;
  }
}

@media all and (orientation: portrait) and (max-width: 1500px) and (min-height: 2250px) {
  html,
  body {
    width: 100%;
    height: 100%;
  }

  .lock-btn-container {
    width: 7em;
    height: 7em;
  }
}

@media all and (orientation: portrait) and (min-width: 768px) and (min-height: 1024px) {
  .lock-btn-container {
    width: 6em;
    height: 6em;
  }
}

/*====================simulate iframe=======================================*/
#sizeSimulation {
  width: 100%;
  height: 100%;
  outline: 1px solid black;
  position: relative;
}

@media all and (min-width: 1200px) and (min-height: 768px) {
  #sizeSimulation {
    width: 1024px;
    height: 768px;
  }

  .res-digit-container {
    width: 1.25em;
  }
}

/*====================Cute: flex-klassen=======================================*/
.flex-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-column {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-alignCenter {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-spaceB {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-flow {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
